<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Brickworks Skyfall">
  <test thread-count="5" name="Happy Flow">
	  <classes>
		  <class name= "Login_Options.BadLogin"/>
		  <class name= "Login_Options.Login"/>
	  </classes>>
  </test> <!-- Test -->
</suite> <!-- Suite -->
